@model Coopmas.Models.Urunler
@{
    ViewData["Title"] = "UrunEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<br />
<form class="form-group" method="post">

    <b> Ürün Adı</b>
    <br />
    @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
    <br />
    <b> Özellikler</b>
    <br />
    @Html.TextBoxFor(x => x.Ozellik, new { @class = "form-control" })
    <br />
    <b>Fiyat</b>
    <br />
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    <b> Dökümantasyon</b>
    <br />
    @Html.TextBoxFor(x => x.Dokumantasyon, new { @class = "form-control" })
    <br />
    <b> Satış İletişim</b>
    <br />
    @Html.TextBoxFor(x => x.Satisİletisim, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">Ürün Ekle</button>

</form>